body {
  background-color: #cdffeb;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%;
}

h1{
  color: #009f9d;
}

h3{
  color: #009f9d;
}

#profilePic {
  border-radius: 100%;
}
