/* ------------ Styles ------------ */

body {
  margin: 0;
  text-align: center;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%;
}

h1{
  color: #009f9d;
  margin-top: 0;

}

h3{
  color: #009f9d;
}

/* ------------ Classes ------------ */

.Circular {
  border-radius: 100%;
}

.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  background-color: red;
}

.bottomContainer {
  background-color: yellow;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
